<a href="https://colab.research.google.com/github/Ma1namercy/Python-Collections-2/blob/main/python_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [ ]:
bands=['b1','b2','b3','b4','b5','b6','b7','b8']
bands.append('b9')
bands.remove('b4')
print(bands)
fruits=['oranges','apples','mangoes','pineapples','pawpaw','pepino']
print(fruits[3])
list=[1,30,50,60,70,4,8,20]
list.sort()
print(list)
grades=('10','20','30','40','50')
grade_list = list
grade_list[3]:70
print(grade_list)

['b1', 'b2', 'b3', 'b5', 'b6', 'b7', 'b8', 'b9']
pineapples
[1, 4, 8, 20, 30, 50, 60, 70]
[1, 4, 8, 20, 30, 50, 60, 70]

**TUPLES**

In [ ]:
fruits=('passion','oranges','banana','mango','passion')
print(fruits)
#determining the length of the tuple
fruits=('passion','oranges','banana','mango','passion')
print(len(fruits))
#creating a tuple with one item
fruits=("banana",)
print(fruits)
#with int
marks=(30,43,70,66,80,97)
print(marks)
#with boolean
fruits=('passion','oranges','banana','mango','passion')
mytuple=('banana',70,True,'python')
print(mytuple)
#accessing tuple via  index
fruits=('passion','oranges','banana','mango','passion')
print(fruits[0])
print(fruits[-2])
#Updating tuples
cars=("toyota","benz","nissan","ford","audi")
car_list=["toyota","benz","nissan","ford","audi"]
car_list[3]="volkswagon"
cars=tuple(car_list)
print(cars)

('passion', 'oranges', 'banana', 'mango', 'passion')
5
('banana',)
(30, 43, 70, 66, 80, 97)
('banana', 70, True, 'python')
passion
mango
('toyota', 'benz', 'nissan', 'volkswagon', 'audi')

**SETS**

In [ ]:
fruits={'oranges','mangoes','passion'}
marks={70,80,90,100}
print(len(fruits))
print(len(marks))
#using set constructor
units= set(('python', 'maths', 'gis', 'cartography', 'applied carto'))
print(units)
fruits={'oranges','mangoes','passion'}
for x in fruits:
    print(x)
    print('mangoes'in fruits)
    print('banana'in fruits)
    print('banana'not in fruits)
#add items on set
fruits={'oranges','mangoes','passion'}
fruits.add('banana')
print(fruits)
#add sets(updating)
year1={'communication','life skill','maths'}
year2={'python','gis','topo cad'}
year1.update(year2)
print(year1)
#remove items
fruits={'oranges','mangoes','passion'}
fruits.remove('passion')
print(fruits)
fruits.pop()
print(fruits)

3
4
{'maths', 'applied carto', 'gis', 'python', 'cartography'}
mangoes
True
False
True
oranges
True
False
True
passion
True
False
True
{'mangoes', 'oranges', 'passion', 'banana'}
{'maths', 'gis', 'life skill', 'python', 'topo cad', 'communication'}
{'mangoes', 'oranges'}
{'oranges'}

**DICTIONARIES**

In [ ]:
my_dict={"Name":"MERCY","Age":22,"Country":"KENYA","Profession":"Student","Hobby":"Travelling"}
for key in my_dict.items():
    print(key)
for value in my_dict.items():
    print(value)

('Name', 'MERCY')
('Age', 22)
('Country', 'KENYA')
('Profession', 'Student')
('Hobby', 'Travelling')
('Name', 'MERCY')
('Age', 22)
('Country', 'KENYA')
('Profession', 'Student')
('Hobby', 'Travelling')